/* Back Button Styles */
.back-button {
  padding: 8px 16px;
  background-color: lightblue;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  width: fit-content;
}

.back-button:hover {
  background-color: #2b6cb0;
  transform: scale(1.05);
}

/* Recipe Image Styles */
.recipe-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px; /* Reduced border radius */
  margin: 0 auto; /* Centering the image */
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.recipe-image-container:hover .recipe-image {
  transform: scale(1.1); /* Zoom-in effect on hover */
}

/* Add to Favorites Button Styles */
.fav-button {
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(
    90deg,
    rgba(99, 102, 241, 1) 0%,
    rgba(139, 92, 246, 1) 100%
  );
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: fit-content;
}

.fav-button:hover {
  background-color: #6b46c1;
  transform: scale(1.05);
}

/* Recipe Details Styles */
.recipe-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  padding-left: 20px; /* Add padding to left */
  padding-right: 20px; /* Add padding to right */
}

/* Recipe Title Styles */
.recipe-details h3 {
  font-size: 28px;
  font-weight: 700;
  color: #1a202c;
}

/* Ingredients List Styles */
.ingredients-list {
  padding-left: 20px;
  list-style-type: disc;
}

.ingredients-list li {
  font-size: 18px;
  color: #4a5568;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .recipe-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Dark Mode Styles */
body.dark .recipe-details {
  background-color: #2d3748; /* Dark background for recipe details */
  color: #edf2f7; /* Light text for dark mode */
}

body.dark .recipe-image-container {
  background-color: #2d3748; /* Dark background for image container */
}

body.dark .recipe-image {
  filter: brightness(0.8); /* Darken images in dark mode */
}

body.dark .back-button {
  background-color: #4a5568; /* Dark background for back button */
  color: #edf2f7; /* Light text for dark mode */
}

body.dark .back-button:hover {
  background-color: #2b6cb0;
}

body.dark .fav-button {
  background: linear-gradient(
    90deg,
    rgba(99, 102, 241, 1) 0%,
    rgba(139, 92, 246, 1) 100%
  );
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark .fav-button:hover {
  background-color: #6b46c1;
}

body.dark .ingredients-list li {
  color: #edf2f7; /* Light text for ingredients in dark mode */
}

body.dark .recipe-details h3 {
  color: #edf2f7; /* Light text for title in dark mode */
}
